* {
  margin: 0;
  padding: 0;
}

.title_straight {
  display: inline-block;
  background: grey;
  align-items: center;
  box-sizing: border-box;
  width: 634.312px;
  height: 139.141px;
  display: flex;
  padding: 10px 5px 10px 10px;
}

.company_name {
  color: white;
  font-size: 20px;
  font-family: Yeseva one,sans-serif;
  padding: 10px 10px 10px 5px;
}

.logo {
  padding: 10px 5px;
  max-width: 100%;
  min-height: 50px;
}

.logo_link {
  margin-left: 28.9688px;
  margin-right: 28.9688px;
}