body {
    text-align: center;
    color: rgb(106,255,0);
    background-color: rgb(255, 255, 1);
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-size: 100%;
}

h1 {
    font-size: 60px;
    text-decoration: underline;
}

img {
   margin: 80px;
}

.location {
    text-decoration: none;
    color: red;
}

.contact {
    display: inline;
    flex-direction: column;
    font-size: 40px;
}

h3 {
    color: rgb(0, 225, 255);
}
