.title {
    text-align: left;
    font-family: "Brush Script MT", cursive;
    color: royalblue;
    font-size: x-large;
}

img {
    text-align: right;
    height: 200px;
    float: right;
}

.menu {
    font-family: 'Tangerine';
    font-size: 60px;
    color: saddlebrown;
}

.menu-list {
    font-family: 'Tangerine';
    font-size: 30px;
}

.menu-category {
    text-align: center;
}

body {
    background-color: red;
}
