.home {
  height: 600px;
  background-image: url("img/food-background-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-blend-mode: hard-light;
}