* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(167, 41, 41);
  color: white;
}

.store_name {
  display: flex;
}

.store_name h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 45px;
}

.store_name h1 a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
}

.store_name h1 a:hover {
  color: rgb(155, 155, 155);
}

.nav-menu {
  display: flex;
}

.nav-menu ul a {
  font-size: 20px;
  padding: 12px;
  border-radius: 45px;
  color: white;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;
}

.nav-menu ul a:hover {
  background-color: rgb(224, 224, 224);
}

.nav-menu ul a:active {
  opacity: 0.6;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 100px;
}

.contact_us button {
  padding: 12px;
  border-radius: 24px;
  border-width: 0px;
  cursor: pointer;
  background-color: rgb(226, 226, 88);
}

.contact_us button:hover {
  border-width: 2px;
}

.contact_us button:active {
  opacity: 0.7;
}